:root{
    --white: #FFF;
    --grey: #CCC;
    --black: #000;
    --darker: #333;
    --background: #111;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
}

.piano{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;    
}

.key{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.white {
    width: 9%;
    height: 70%;
    background: var(--white);
    border: 1px solid var(--grey);
    color: var(--black);

    &:active{
        background: var(--grey);
    }
}

.black {
    width: 8%;
    height: 45%;
    background: var(--black);
    z-index: 10;
    margin: 0 -4%;
    color: var(--white);

    &:active{
        background: var(--darker);
    }
}